@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

.wrapper {
  height: 100vh;
  display: flex;
}

/* Content Left */
.left {
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.signup {
  width: 70%;
}

/* Titre */
.h11 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
}

/* Icons */
.icons {
  margin: 1rem auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.icon img {
  border-radius: 5px 5px 5px 5px;
  border: 1.5px solid black;
  scale: 1.8;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 24px;
}
/* Input Email */
.input1 {
  width: 350px;
  height: 40px;
  margin-top: 10px;
  background-color: rgb(195, 195, 195);
  border: 1px solid transparent;
  border-radius: 7px;
  outline: none;
}
.input1[placeholder] {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding-left: 15px;
}

/* Input Password */
.input2 {
  width: 350px;
  height: 40px;
  margin-top: 15px;
  background-color: rgb(195, 195, 195);
  border: 1px solid transparent;
  border-radius: 7px;
  outline: none;
}
.input2[placeholder] {
  padding-left: 15px;
}

/* Forget */
.Forget {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin: 1rem 0;
}

/* Button Sign in */
.button1 {
  background-color: rgb(17, 146, 181);
  color: white;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: 600;
  border-radius: 7px;
  padding: 0 1rem;
}

/* content Right */
.right {
  justify-content: center;
  align-content: center;
  background-color: rgb(17, 146, 181);
  width: 40%;
  border-radius: 130px 0px 0px 130px;
}

.hello {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

/* Titre in Right */
.h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  padding-bottom: 20px;
}

/* Text in right */
.p1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  color: white;
  padding-bottom: 30px;
}

/* button Sign up in right */
.button2 {
  width: 150px;
  height: 35px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px 5px 5px 5px;
}

.p2 {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
  color: white;
  font-size: 15px;
}

/* Animation */
#m1337 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
